<div class="span-22 inq_box" >

<h1>Listing inquiries</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inquiries.each do |inquiry| %>
  <tr>
    <td> <%= inquiry.corporate_name%></td>
    <td> <%= inquiry.name%></td>
    <td> <%= inquiry.email%></td>
    <td> <%= inquiry.phone%></td>
    <td> <%= inquiry.city%></td>
    <td><%= link_to 'Show', inquiry %></td>
    <td><%= link_to 'Edit', edit_inquiry_path(inquiry) %></td>
    <td><%= link_to 'Destroy', inquiry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inquiry', new_inquiry_path %>
</div>